<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ssadmin.server.mapper.user.ChatMsgMapper">

    <insert id="addmsg">
                insert into vb_chat_msg(send_user_id,receive_user_id,msg,sign_flag,create_time) values (
                        #{sendUserId},
                #{receiveUserId},
                #{msg},
                #{signFlag},
                #{createTime}
                )

    </insert>
</mapper>